/* =============== BASE =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  h1,
  h2,
  h3 {
    color: var(--tittle-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--first-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .snow {
    position: absolute;
    width: 50px;
  }
  
  /* REUSABLE CSS CLASES */
  .container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }
  
  .section_title {
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  main {
    overflow: hidden;
    /* For animations */
  }
  
  /* Snow animation */
  @keyframes animate-snow-1 {
  
    0%,
    100% {
      transform: scale(.5);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes animate-snow-2 {
  
    0%,
    100% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(.5);
    }
  }
  
  /* =============== BUTTON =============== */
  .button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 2rem;
    border-radius: 4rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: background .4s, box-shadow .4s;
  }
  
  .button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 32px hsl(210, 80%, 54%, .7)
  }

  /* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(210, 8%, 15%);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(210, 8%, 25%);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(210, 8%, 35%);
  }
  
  /*=============== SCROLL UP ===============*/
  .scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%; /* 3rem; */
    background-color: var(--white-color);
    display: inline-flex;
    padding: .45rem;
    font-size: 1rem;
    border-radius: .45rem;
    color: var(--body-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
  }
  
  .scrollup:hover {
    transform: translateY(-.25rem);
  }
  
  /* Show Scroll Up */
  .show-scroll {
    bottom: 4.4rem;
  }

/*=============== DOCUMENTATION LINK ===============*/
.documentation-link {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: .85rem;
  z-index: 99999;
  align-items: center;
}

.documentation-link a {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #2c974a57;
  border: 1px solid #2c974b;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.03);
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  user-select: none;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.documentation-link a:hover {
  color: #fff;
  background: #2da44e;
}

@media screen and (min-width: 576px) {
  
  .documentation-link {
    top: auto;
    transform: none;
    left: 2.5rem;
    bottom: 4.4rem
  }
}
